<div class="maxHeigth" ng-init="$ctrl.Init()">
  <h1 class="center-align title"><i>{{$ctrl.Name}}</i> <b>GAME</b></h1>
  <div class="game">
    <div class="container s8 m8 l8">
      <div class="row s8 m8 l8" ng-repeat="items in $ctrl.boardRows">
        {{$index + 1}}
        <div class="col s1  m1 l1" ng-repeat="obj in items track by $index" ng-click="$ctrl.Move($index, $parent.$index)">
          <div ng-class="{whitePlayer: obj === 'W', blackPlayer: obj === 'B'}"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="center-align">
    <a class="waves-effect waves-light btn" ng-click="$ctrl.ResetGame()">Reiniciar Partida</a>
  </div>
  <div class="center-align" ng-if="!$ctrl.winnerGamme">
    <p class="turno">Es el turno del jugador </p><p ng-class="{turno: $ctrl.currentPlayer === 'BLANCO'}"><b>{{$ctrl.currentPlayer}}</b></p>
  </div>
  <div class="center-align" ng-if="$ctrl.winnerGamme">
    <h3 ng-if="$ctrl.playerWon !== 'EMPATE'">El jugador <b ng-class="{turno: $ctrl.playerWon === 'BLANCO'}">{{$ctrl.playerWon}}</b> ha ganado la partida</h3>
    <h3 ng-if="$ctrl.playerWon === 'EMPATE'">La partida ha quedado empatada</h3>
  </div>
</div>