body {
  background-color: #003c8f;
}
.black {
  color: black;
}
.col {
  background-color: #1565c0;
  border: 0.5px solid #5e92f3;
  height: 100%;
  cursor: pointer;
}
.container {
  margin-left: 50%;
}
.game {
  position: absolute;
  width: 100%;
  top:30%;
}
.maxHeigth {
  height: 100%
}
.row {
  margin: 0 !important;
  height: 80px;
}
.player, .whitePlayer, .blackPlayer {
  box-shadow: #413a3a 3px 2px;
  width: 100%;
  height: 80%;
  border-radius: 100%;
  margin: 10% 0;
}
.whitePlayer {
    background-color: white;
}
.blackPlayer {
    background-color: black;
}
.title {
  color: #ffffff;
}
.turno {
  color: #ffffff;
}

@media only screen and (min-width: 320px) {
 .row {
  height: 32px;
}
.col {
  width: 32px !important;
}
.game {
  left: 5%;
  top: 51%;
}
}

@media only screen and (min-width: 412px) {
 .row {
  height: 44px !important;
}
.col {
  width: 44px !important;
}
.game {
  left: 1%;
  top: 37%;
}
}

@media only screen and (min-width: 600px) {
 .row {
  height: 67px !important;
}
.col {
  width: 67px !important;
}
.game {
  left: 2%;
  top: 60%;
}
}

@media only screen and (min-width: 768px) {
 .row {
  height: 77px !important;
}
.col {
  width: 77px !important;
}
.game {
  left: 2%;
  top: 25%;
}
}

@media only screen and (min-width: 1024px) {
 .row {
  height: 85px !important;
}
.col {
  width: 85px !important;
}
.game {
  left: 0% !important;
  top: 30% ;
}
}

@media only screen and (min-width: 1025px) {
 .row {
  margin: 0 !important;
  height: 80px !important;
}
.col {
  width: 80px !important;
}
.game {
  left: 15% !important;
  top: 25%;
}
}